*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 0.75rem;
}
a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    color: black;
    outline:none;
    background: none;
    text-decoration: none;
}
li{
  list-style: none;
}
img{
  vertical-align: middle;
}
input{
    outline: none;
}
h3{
    font-weight: 400;
}
input[type="button"],input[type="submit"]{
    background-color: #fff;
    outline: none;
}
html {
  overflow-y: scroll;
  }
  
:root {
overflow-y: auto;
overflow-x: hidden;
}
  
:root body {
position: absolute;
}

body {
width: 100vw;
overflow: hidden;
}
/* 进场 */
.slide-left-enter-active {
  transition: all .3s ease;
}

.slide-left-enter
{
  transform: translateX(-20rem);
}